/*
Author: Ang Yak Hng
Filename: education.css

Last edit: 29 Jul 2019
*/

/* Jumbotron styling */
#jumbo {
    background-color: #b1ede8;
}


/* Footer styling */
#footer {
    background-color: #b1ede8;
}