/*
Author: Ang Yak Hng
Filename: global.css

Last edit: 29 Jul 2019
*/

/* Content styling */
.card {
    margin-top: 5px;
}

/* Footer styling */
#insta-btn, #reddit-btn{
    border-color: #000000;
    padding: 3px;
    width: 40px;
    height: 40px;
    font-size: 21px;
}

#insta-btn:hover {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    color: #ffffff;
}

#reddit-btn:hover {
    background-color: #ffffff;
    color: #FF4301;
}

