/*
Author: Ang Yak Hng
Filename: home.css

Last edit: 06 Aug 2019
*/


/* Jumbotron styling */
#jumbo {
    background-color: #7d8cc4;
    background-image: url(Images/background-2.jpg);
}

#github-btn {
    color: #ffffff;
}

#img-myself {
    width: 150px;
}

#github-btn:hover {
    background-color: #ffffff;
    color: #000000;
    cursor: pointer;
}

/* Footer styling */
#footer {
    background-color: #7d8cc4;
}