/*
Author: Ang Yak Hng
Filename: interests.css

Last edit: 06 Aug 2019
*/


/* UI styling */
#jumbo, #footer {
    background-color: #B1DDF1;
}

/* Content styling */
#jumbo {
    background-image: url(Images/background-1.jpg);
}